<div class="card-body rounded border border-danger">
  <h4 class="card-title">
    <%= f.title %>
  </h4>
  <p class="card-text"><%= f.description %></p>
  <p class="card-text">Points :
    <%= f.points %></p>
</div>
