<div class="card-columns">
  <% @photos.each do |f| %>
    <div class="card">
      <a href="<%= photo_path(f) %>"><%= cl_image_tag(f.photo_link, class:"card-img-top") %></a>
    </div>
  <% end %>
</div>
