<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <a href="<%= @photo.brand.link %>" data-toggle="tooltip" data-placement="right" title="go to <%= @photo.brand.logo %>">
      <%= cl_image_tag @photo.photo_link, :gravity=>"auto:body", :width=>500, :crop=>"crop", :zoom=>'0.1', class:"card-img-top rounded-circle"%>
    </a>

  </div>
  <div class="col-4"></div>
</div>
