<div class="container-fluid">
<h1>Welcome <strong>
  <% if user_signed_in? %>
    <%= current_user.name %>
  <% end %>  
</strong></h1>
  <%= render "./partials/show_all_photos_without_points" %>
</div>
