@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #FFE066;
  color: #50514F;
}

.navbar.navbar-expand-lg {
  font-family: 'Roboto', sans-serif;
  background-color: #F25F5C;
  color: #50514F;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  color: #50514F;
}

.btn-outline-success {
    color: #50514F;
    background-color: transparent;
    background-image: none;
    border-color: #50514F;
}

.card {
  background-color: #70C1B3;
}
