@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.navbar.navbar-expand-lg {
  font-family: 'Roboto', sans-serif;
  background-color: #FFE066;
  color: #000000;
}

.navbar-dark .navbar-toggler {
    /*color: rgba(255, 255, 255, 0.5);*/
    border-color: rgba(255, 255, 255, 1);
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  color: #000000 !important;
}

.btn-outline-success {
    color: #000000;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

.card {
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }

}

.card-columns .card {
  margin-bottom: 1.25rem;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #28a745;
    border-color: #28a745;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-secondary, .btn-secondary:hover {
    color: #000;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
